################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/hk_2024_backend/bin
/hk_2024_backend/obj
/hk_2024_frontend/.idea
/hk_2024_frontend/obj

