.loggedIn{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

.loggedIn-header{
    text-align: center;
    font-size: 32px;
}

.loggedIn-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
