.passcodes-content{
    width: 100%;
}

.passcodes-list{
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passcodes-item{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #313131;
}