.login-content{
    max-width: 450px;
    height: 100dvh;
    margin: 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.login-text{
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.login-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-rememberMe{
    display: inline-flex;
    gap: 10px;
}