.page{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
}
.courirer-name{
    color: white;
    text-align: left;
    font-size: 17px;
}
.offer-container{
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    background-color: #313131;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.of-data{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
.pin-div{
    display: flex;
}
.pin-description{
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 10px;
    padding: 0;
    color: white;

}
.btn-modal{
    margin-left: 17px;
}
.of-adress, .of-phone{
    margin-top: 0;
    margin-bottom: 20px;
}
.of-pin{
    margin: 0;
}
.coming{
    background-color: #23CEC2;
    border: none;
    border-radius: 21px;
    font-size: 10px;
    padding: 6px 20px;
    color: white;
    margin-top: 20px;
}
.two-btns{
    display: flex;
    justify-content: space-around;
}
.descr-modal{
    position: absolute;
    top: 9%;
    background-color: #fff;
    color: black;
    margin-top: 5px;
    width: 160px;
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}
.offer-details{
    margin-left: auto;
    margin-right: auto;
    background-color: #313131;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.courirer-title{
    display: flex;
    justify-content: space-between;
}
.no-offers {
    font-size: 18px;
    color: #999;
    text-align: center;
    margin-top: 20px;
}